.container {
  padding: 35px 25px 57px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #e5e7eb;
  gap: 12px;
  padding-top: 40px;
  margin-top: 10px;

  .guideButton {
    color: #1f2937;
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 18px;
  }

  .squareButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-radius: 12px;
    height: 56px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.64px;
    position: relative;
    color: #3e82f1;
    border: 2px solid #3e82f1;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }

    .balloon {
      position: absolute;
      top: -20px;
      right: 3px;
    }
  }

  .socialLogin {
    display: flex;
    justify-content: center;
    gap: 12px;

    .roundButton {
      position: relative;
      display: flex;
      width: 56px;
      height: 56px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 32px;
      gap: 10px;

      &.google {
        border: 1px solid #eee;
        background: #fff;
      }
    }
  }
}
