.container {
  padding: 65px 0 100px;

  .title {
    padding: 48px 24px 24px;
    font-size: 24px;
    font-family: 'LaundryGothicOTF';
  }
}

@media only screen and (max-width: 430px) {
  .container {
    padding-top: 50px;

    .title {
      padding: 32px 16px 0px;
    }
  }
}
