.searchBar {
  position: relative;
  // margin: 0 20px;
  padding: 0 20px;
  width: 100%;
}

.input.important {
  padding-left: 10px;
  padding-right: 52px;
  height: 56px;
  color: #37393d;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #007aff;
  background-color: #ffffff;

  &:focus {
    border: none;
    border-bottom: 1px solid #007aff;
  }
}

.zoom {
  position: absolute;
  top: 30%;
  right: 4%;
}
