.title1 {
  color: #9ca3af;
  font-weight: 600;
  font-size: 20px;
}
.title2 {
  color: #2d7dff;
  font-weight: 800;
  font-size: 22px;
  display: block;
  margin-top: 8px;
  margin-bottom: 50px;
}

.lineTitle {
  position: relative;
  display: block;
  width: 100%;

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #999;
    text-align: center;
    background: #fff;
    width: 30%;
  }
  &::before {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background: #998;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.genreList {
  display: flex;
  align-items: center;
  justify-content: normal;
  margin-top: 80px;
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  position: relative;
  /* 웹킷 기반 브라우저에서 스크롤바를 숨기기 */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Firefox에서 스크롤바 숨기기 */
  scrollbar-width: none; /* Firefox */

  /* Internet Explorer 10 이상에서 스크롤바 숨기기 */
  -ms-overflow-style: none; /* IE 10+ */
  .prevBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5);
    width: 45px;
    height: 45px;
    border-radius: 100%;
    position: absolute;
    top: 38%;
    left: 1%;
    transform: translateY(-50%);
    z-index: 5;

    img {
      display: block;
    }
  }
  .nextBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5);
    width: 45px;
    height: 45px;
    border-radius: 100%;
    position: absolute;
    top: 38%;
    right: 1%;
    transform: translateY(-50%);
    z-index: 5;
    img {
      transform: rotate(180deg);
    }
  }
  li {
    display: inline-block;
    width: 32%;
    margin-right: 3%;
    vertical-align: top;
    a {
      display: block;
      width: 100%;
      position: relative;
      .deadLineIco {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
      }
      .people {
        position: absolute;
        bottom: 15px;
        right: 13px;
        background: lightgray 50% / cover no-repeat;
        color: #333;
        padding: 3px 10px;
        box-sizing: border-box;
        border-radius: 10px;
        font-size: 14px;
      }
      .img {
        width: 100%;
        img {
          display: block;
          width: 100%;
          pointer-events: none;
        }
      }
      .tag {
        font-size: 18px;
        font-weight: 600;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 120%;
      }
    }
    .mid {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;
      margin-bottom: 10px;
      .loc {
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: normal;
        gap: 3px;
        color: #757575;
        img {
          width: 14px;
          height: 14px;
        }
      }
      .heart {
        cursor: pointer;
        input + label {
          cursor: pointer;
          img {
            width: 22px;
            height: 22px;
          }
        }
        input:checked + label {
          img {
            width: 22px;
            height: 22px;
          }
        }
      }
    }
    .date {
      font-size: 12px;
      margin-top: 6px;
      display: block;
      color: #999;
    }
  }
}
