@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinner {
  height: 3rem;
  width: 3rem;
  border: 0.1rem solid black;
  border-radius: 50%;
  border-top: none;
  border-right: none;
  margin: 1.6rem auto;
  animation: rotate 1s linear infinite;
}
