.searchBar {
  flex-shrink: 0;
  width: 100%;
  height: 56px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 18px;
  border-bottom: 1px solid #007aff;
  @media (max-width: 430px) {
    padding: 12px 10px;
    height: 46px;
  }
  .searchDropdown {
    min-width: 120px;
    max-width: fit-content;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: #9ca3af;

    .arrowDown {
      margin-left: -30px;
    }
    .reset {
      div {
        padding: 2px 4px 2px 2px;
        border: transparent !important;
      }
    }
    @media (max-width: 430px) {
      min-width: 100px;
      font-size: 10px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
    }
  }
  input {
    padding: 0 6px 0 20px;
    outline: none;
    width: 70%;
    margin-right: auto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;

    &::placeholder {
      color: #9ca3af;
    }
    @media (max-width: 430px) {
      font-size: 18px;
      padding: 0 6px 0 3px;
    }
  }
  .submit {
    border: none;
  }
}
