.tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  height: 20px;
  padding: 3.5px 5px;

  &[data-size='small'] {
    font-size: 8px;
  }

  &[data-size='medium'] {
    font-size: 10px;
  }

  &[data-size='large'] {
    font-size: 12px;
  }
}
