.title {
  color: var(--lukyviky-Blue-Darker, #002b59);
  font-family: Pretendard;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.gatheringInfo .tag {
  border-radius: 4px;
}
