.section1 {
  background: $blue-light;
  padding: 40px 24px 29px;
}

.gatheringInfo {
  display: flex;
  padding: 24px 0px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--lukyviky-gray-light-active, #e0e2e6);
  background: #fff;
}
.firstGatheringInfo {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  width: 100%;
  padding: 0 24px 30px 24px;
}

.firstGatheringInfoContent {
  max-width: 400px;
}

.title {
  color: var(--lukyviky-Blue-Darker, #002b59);
  font-family: Pretendard;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.place {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  color: var(--gray-700, #374151);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
}

.gatheringInfo .tag {
  border-radius: 4px;
}

.place {
  margin: 12px 0;
  color: var(--gray-700, #374151);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
}

.dateAndTime {
  display: flex;
  gap: 8px;
}

.badge {
  display: flex;
  align-items: center;
  margin: 8px 0;
  gap: 8px;
  color: var(--gray-700, #374151);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.games {
  display: flex;
  align-items: center;
  color: $blue-normal;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  gap: 4px;
}

.genres {
  margin: 8px 0 0 0;
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.firstGatheringInfoIcons {
  display: flex;
  width: 112px;
  .shareButton {
    width: 48px;
    height: 48px;
    fill: var(--white, #fff);
    border: 2px solid var(--gray-200, #e5e7eb);
    border-radius: 9999px;
    margin: 0 0 0 12px;
  }
}

.stroke {
  width: 100%;
  height: 2px;
  position: relative;
}

.secondGatheringInfo {
  width: 100%;
  padding: 26px 24px 14px 24px;
  display: flex;
  flex-direction: column;
}

.people {
  display: flex;
  align-items: center;
  gap: 12px;
  .totalParticipantCount {
    color: var(--gray-900, #111827);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
  }
}

.progressBarBackground {
  background-color: $blue-light;
  position: relative;
  height: 4px;
  margin: 12px 0 8px 0;
}

.progressBar {
  background-color: $blue-normal;
  position: absolute;
  height: 4px;
  width: 100%;
  left: 0;
}

.progressBarDescription {
  display: flex;
  justify-content: space-between;
  color: var(--gray-700, #374151);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
}

.memberListButton {
  display: flex;
  height: 62px;
  padding: 10px 0;
  margin: 10px 0 0 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid var(--lukyviky-Blue-Normal, #007aff);
  color: var(--lukyviky-Blue-Normal, #007aff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
}

.section2,
.section3,
.section4 {
  padding: 54px 24px;
  .title2 {
    color: $blue-normal;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .convertedContent {
    margin: 38px 0 0;
    min-height: 200px;
  }

  .h2 {
    color: var(--lukyviky-gray-Darker, #37393d);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 83.333% */
    margin: 0 0 12px 0;
  }
}

.leaderProfile {
  display: flex;
  border-radius: 10px;
  border: 1px solid var(--lukyviky-gray-light-active, #e0e2e6);
  width: 100%;
  margin: 38px 0 0;
  padding: 19px 30px;
  gap: 16px;
  align-items: center;
}

.leaderDescription {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // height: 110px;
  .userNickname {
    color: var(--lukyviky-gray-Darker, #37393d);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
  }

  .rating,
  .gatheringCount {
    color: var(--lukyviky-gray-Normal, #9ca3af);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
  }

  .rating {
    margin: 8px 0;
  }
}
