.header {
  color: #000;
  font-family: LaundryGothicOTF;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  @media screen and (max-width: 480px) {
    font-size: 20px;
  }
}

.headerDescription {
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 112.5% */
  letter-spacing: 0.64px;
  margin: 12px 0 48px;
  @media screen and (max-width: 480px) {
    font-size: 12px;
  }
}

.title {
  display: block;
  color: var(--lukyviky-gray-Darker, #37393d);
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 83.333% */
  margin: 0 0 20px;
  @media screen and (max-width: 480px) {
    font-size: 16px;
    margin: 0 0 4px;
  }
}

.titleDescription {
  color: var(--lukyviky-gray-Dark, #757a83);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 112.5% */
  letter-spacing: 0.64px;
  margin: 0 0 20px;
  @media screen and (max-width: 480px) {
    font-size: 12px;
    margin: 0 0 8px;
  }
}

.commonInput {
  width: 100%;
  height: 66px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--lukyviky-gray-Light, #f5f6f7);
  padding: 0 16px;
  font-size: 16px;

  &:focus {
    outline: none;
  }

  @media screen and (max-width: 480px) {
    font-size: 12px;
    height: 48px;
  }
}

.textEditor {
  margin: 0 0 28px;
}

.boardGameTitles {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  margin: 12px 0 0;

  .boardGameTitle {
    border-radius: 20px;
    border: 2px solid var(--lukyviky-Blue-Normal, #007aff);
    background: #fff;
    display: flex;
    height: 42px;
    padding: 9px 21px;
    align-items: center;
    gap: 10px;
    width: fit-content;
    color: var(--lukyviky-Blue-Normal, #007aff);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 83.333% */
    @media screen and (max-width: 480px) {
      font-size: 12px;
      padding: 4px 12px;
      line-height: 12px;
      height: 32px;
    }
  }
}

.fileInput {
  margin: 0 0 28px;
}

.fileInputTitle {
  color: var(--lukyviky-gray-normal-active, #7d828c);
  text-align: center;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 8px 0 16px;
  @media screen and (max-width: 480px) {
    font-size: 16px;
  }
}

.fileInputDescription {
  color: var(--lukyviky-gray-Normal, #9ca3af);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  @media screen and (max-width: 480px) {
    font-size: 12px;
  }
}

.placeInput {
  width: min(600px, 100%);
  height: 66px;
  border-radius: 10px;
  background: var(--lukyviky-gray-Light, #f5f6f7);
  padding: 34px;
  font-size: 16px;

  &:focus {
    outline: none;
  }

  @media screen and (max-width: 480px) {
    font-size: 12px;
  }
}

.inputContainer .datePicker {
  width: 100%;
  height: 66px;
  background: var(--lukyviky-gray-Light, #f5f6f7);
  outline: none;
  font-size: 16px;

  &:focus {
    outline: none;
  }

  @media screen and (max-width: 480px) {
    font-size: 12px;
  }
}

.numberInput {
  margin: 0 0 28px;
}

@mixin submitButton {
  border: 1px solid #000000;
  &:disabled {
    background-color: #888888;
  }
}

.submitButton {
  width: 100%;
  height: 66px;
  border-radius: 12px;
  background: #3e82f1;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 48px 0 0;

  &:hover {
    background: #006ee6;
  }

  &:active {
    background: #0062cc;
  }

  &:disabled {
    background: #9ca3af;
    pointer-events: none;
  }

  @media screen and (max-width: 480px) {
    height: 48px;
  }
}
.deleteButton {
  width: 100%;
  height: 66px;
  border-radius: 12px;
  border: 2px solid var(--lukyviky-Blue-Normal, #007aff);
  background: #fff;
  color: $blue-normal;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 20px 0 0;

  &:disabled {
    pointer-events: none;
  }

  @media screen and (max-width: 480px) {
    height: 48px;
  }
}

.error {
  border-radius: 10px;
  border: 1px solid #dd111e;
  background: #fff;
}

.errorMessage {
  color: var(--error, #dd111e);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 112.5% */
  letter-spacing: 0.64px;
  margin: 8px 0 0;
  @media screen and (max-width: 480px) {
    font-size: 12px;
  }
}

.successMessage {
  color: var(--lukyviky-Blue-Normal, #007aff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 112.5% */
  letter-spacing: 0.64px;
  margin: 8px 0 0;

  &.info {
    color: var(--lukyviky-Gray-Normal, #9ca3af);
  }

  @media screen and (max-width: 480px) {
    font-size: 12px;
  }
}

.modalBackground {
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--lukyviky-Blue-Darker, #002b59);
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1.04px;
  height: 226px;
  gap: 6px;

  @media only screen and (max-width: 480px) {
    font-size: 16px;
    height: 150px;
  }

  .description {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 13px 0 0;
    width: min(100%, 388px);
    padding: 9px 23px;
    border-radius: 10px;
    color: var(--lukyviky-gray-Darker, #37393d);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
    @media only screen and (max-width: 480px) {
      font-size: 16px;
    }
  }
}

.modalButtons {
  display: flex;
  width: 100%;
  height: 80px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 75% */
  letter-spacing: 0.96px;
  text-align: center;
  @media only screen and (max-width: 480px) {
    font-size: 16px;
    height: 60px;
  }
  .modalFirstButton {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--lukyviky-Blue-Normal, #007aff);
    width: 50%;
    border: 1px solid var(--lukyviky-Blue-Normal, #007aff);
    border-left: none;
    border-bottom: none;
  }

  .modalSecondButton {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--lukyviky-Blue-Light, #e6f2ff);
    background: var(--lukyviky-Blue-Normal, #007aff);
    width: 50%;
  }
}

.modalFullButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--lukyviky-Blue-Light, #e6f2ff);
  background: var(--lukyviky-Blue-Normal, #007aff);
  display: flex;
  width: 100%;
  height: 113px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 75% */
  letter-spacing: 0.96px;
  text-align: center;
  @media only screen and (max-width: 520px) {
    font-size: 16px;
  }
}
