.searchTabHeader {
  width: 100%;
  padding: 100px 24px 0;
  @media (max-width: 430px) {
    padding: 80px 24px 0 24px;
  }

  .filter {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 8px;
    margin: 24px 0px 10px 0;
    flex-wrap: wrap;

    .genreSelectBox {
      max-width: fit-content;
      min-width: 100px;
    }
    .locationSelectBox {
      max-width: fit-content;
      min-width: 100px;
    }
    .dates {
      display: flex;
      gap: 6px;
      .aaa .datePicker {
        border-radius: 12px;
        outline: none;
        border: 2px solid #f3f4f6;
        color: #37393d;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        width: 100px;
        min-width: fit-content;
        padding: 8px 12px;
        line-height: 20px;
        height: fit-content !important;
        @media (max-width: 430px) {
          margin-left: auto;
        }
      }
    }
  }
  button {
    border: 1px solid rgb(177, 175, 175);
    padding: 1px 4px;
    border-radius: 14px;
  }

  .info {
    width: 387px;
    padding-left: 18px;
    color: #9ca3af;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }
}
.sortContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 13px;
  .resetBtn {
    cursor: pointer;
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 7px;
    h3 {
      color: #9ca3af;
      text-align: right;
      font-family: Pretendard;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 142.857% */
    }
  }
  .sortType {
    border-radius: 12px;
    // border: 2px solid #f3f4f6;
    // background: #fff;
    width: 100%;
    max-width: 150px;
    padding: 8px 12px;
    display: flex;
    gap: 4px;
    align-items: center;
    align-self: stretch;
    justify-content: flex-end;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: #37393d;
  }
}
