.input {
  display: flex;
  gap: 6px;
  width: 120px;
}

.leftButton,
.rightButton {
  display: flex;
  height: 30px;
  // padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex: 1 0 0;
  border-radius: 6px;
  @media screen and (max-width: 480px) {
    height: 26px;
  }
}

.gray {
  border: 1px solid var(--lukyviky-gray-Normal, #9ca3af);
}

.blue {
  border: 2px solid var(--main-color-02, #06f);
}

.grayFont {
  color: var(--lukyviky-gray-Normal, #9ca3af);
}

.blueFont {
  color: var(--lukyviky-gray-Normal, #06f);
}

.numberBackground {
  display: flex;
  flex: 2 0 0;
  height: 30px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  border-radius: 6px;
  @media screen and (max-width: 480px) {
    height: 26px;
  }
}

.number {
  // font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.96px;
  @media screen and (max-width: 480px) {
    font-size: 16px;
  }
}
