$blue-light: #e6f2ff;
$blue-light-hover: #d9ebff;
$blue-light-active: #b0d6ff;
$blue-normal: #007aff;
$blue-normal-hover: #006ee6;
$blue-normal-active: #0062cc;
$blue-dark: #005cbf;
$blue-dark-hover: #004999;
$blue-dark-active: #003773;
$blue-darker: #002b59;

$yellow-light: #fffced;
$yellow-light-hover: #fffae4;
$yellow-light-active: #fdf5c7;
$yellow-normal: #f8e049;
$yellow-normal-hover: #dfc442;
$yellow-normal-active: #c6b33a;
$yellow-dark: #baa837;
$yellow-dark-hover: #95862c;
$yellow-dark-active: #706521;
$yellow-darker: #574e1a;

$gray-light: #f5f7f7;
$gray-light-hover: #f0f1f3;
$gray-light-active: #e0e2e6;
$gray-normal: #9ca3af;
$gray-normal-hover: #8c939e;
$gray-normal-active: #7d828c;
$gray-dark: #757a83;
$gray-dark-hover: #5e6269;
$gray-dark-active: #46494f;
$gray-darker: #37393d;

$black-b50: #e7ebef;
$black-b75: #9da0a6;
$black-b100: #757982;
$black-b200: #393f4c;
$black-b400: #111827;
$black-b500: #0a0f18;
