.space {
  width: 100%;
  padding: 30px 0;
}

.headerContent {
  padding: 15px 0;
  z-index: 3;
  background: #fff;
  max-height: 630px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 630px;
  width: 100%;
  h1 {
    font-size: 36px;
    color: #007aff;
    font-weight: 800;
  }
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 20%;
  gap: 15%;
  button {
    position: relative;
    img {
      width: 25px;
      height: 25px;
    }
    span {
      width: 10px;
      height: 10px;
      display: block;
      border-radius: 100%;
      background: red;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  a {
  }
}
