.cardContainer {
  width: 90%;
  padding: 20px 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;

  .empty {
    display: table;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    .emptyContent {
      color: #aaa;
      display: table-cell;
      width: 100%;
      height: 100%;
      vertical-align: middle;
      text-align: center;
      box-sizing: border-box;
      height: calc(100vh - 500px);
    }
  }
}
.addGatheringBtn {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  background: #007aff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  position: fixed;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 600px) {
  .addGatheringBtn {
    left: 50%;
    transform: translateX(220px);
    bottom: 10%;
  }
}
@media only screen and (max-width: 600px) {
  .addGatheringBtn {
    right: 16px;
    bottom: 10%;
  }
}
