.searchTabHeader {
  display: flex;
  justify-content: space-between;

  .filter {
    display: flex;

    select {
      margin: 0 10px 20px 10px;
      width: 10vw;
    }
  }
  button {
    border: 1px solid rgb(177, 175, 175);
    padding: 1px 4px;
    border-radius: 14px;
  }
}
.cardContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.sortType {
  button {
    border: 1px solid rgb(177, 175, 175);
    padding: 4px;
    border-radius: 14px;
  }
  margin-bottom: 10px;
  display: flex;
  width: 90%;
  gap: 14px;
  justify-content: flex-end;
}
