.modalBackground {
  width: min(600px, 100%);
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 9000;
}

.modalWithXButton {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.modal {
  background-color: white;
  z-index: 9000;
  max-height: 800px;
  max-width: 600px;
  overflow: auto;
  border-radius: 8px;
}

.fullModal {
  background-color: white;
  z-index: 9000;
  width: min(100%, 600px);
  position: fixed;
  left: 50%;
  top: 0;
  bottom: 0;
  transform: translateX(-50%);
  overflow: hidden;
  height: '100vh';
}

.slideUp {
  transform: translate(-50%, 0);
  transition: transform 0.2s ease-out;
}

.slideDown {
  transform: translate(-50%, 100%);
  transition: transform 0.2s ease-in;
}

.none {
  display: none;
}

.xButton {
  background: var(--lukyviky-Blue-Normal, #007aff);
  border-radius: 9999px;
  width: 72px;
  height: 72px;
  z-index: 9000;
}
