.container {
  display: flex;
  flex-direction: column;
  gap: 38px;
  align-items: center;
  overflow: hidden;
  background: #f4f9ff;

  .emptyReview {
    display: table;
    width: 100%;
    text-align: center;
    box-sizing: border-box;

    .boxInfo {
      height: calc(100vh - 400px);
      display: table-cell;
      width: 100%;
      vertical-align: middle;
      color: #aaa;
      font-size: 14px;
    }
  }
}
