.container {
  height: calc(100vh - 140px);

  .header {
    display: block;
    text-align: center;

    h1 {
      overflow: hidden;
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      clip: rect(0px, 0px, 0px, 0px);
    }
    h2 {
      transform: translateX(-20%);
      margin: auto;
      font-weight: 500;
      line-height: normal;
      overflow: hidden;
    }
    .commonLayout {
      max-width: 600px;
      margin: 0 auto;
      box-sizing: border-box;
      height: 50px;
      background-color: rgb(255, 255, 255);
      display: flex;
      justify-content: space-between;
      padding: 0 10px;
    }
  }
  .tabHeader {
    border-bottom: 1px solid #dadada;
    height: 45px;
    position: sticky;
    top: 50px;
    display: flex;
    left: 0;
    width: 100%;
    background-color: #fff;

    justify-content: space-between;
    button {
      display: flex;
      position: relative;
      padding: 0 10px;
      font-weight: 700;
      color: #c1bfbf;
      font-size: 14px;
      text-align: center;
      flex: 1 1;
      align-items: center;
      justify-content: center;

      &.active {
        border-bottom: 2px solid #222;
        color: #000;
        margin-bottom: -1px;
      }
    }
  }
  .emptyReview {
    display: table;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    .boxInfo {
      height: calc(100vh - 250px);
      display: table-cell;
      width: 100%;
      vertical-align: middle;
      color: #aaa;
      font-size: 14px;
    }
  }
}
