.container {
  height: calc(100vh - 185px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: normal;
}

.wow {
  color: #007aff;
  font-size: 100px;
}

.errorCode {
  color: #002b59;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
}

.where {
  color: #002b59;
  font-size: 20px;
  font-weight: 400;
}
