.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 24px;
  gap: 220px;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: normal;
}

.wow {
  color: #007aff;
  font-size: 100px;
}

.errorCode {
  color: #002b59;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
}

.where {
  color: #002b59;
  font-size: 20px;
  font-weight: 400;
}
