.detailModal {
  max-width: 600px;
  width: 590px;
  background-color: white;
  overflow-y: auto;
  border-radius: 10px;

  overflow-x: hidden;
  word-wrap: break-word;
  word-break: break-word;

  h2 {
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }

  p {
    margin: 12px 0;
    color: #555;
    font-size: 14px;
    line-height: 1.6;
  }
}
.modalHeader {
  padding: 35px 30px;
  z-index: 1000;
  position: sticky;
  top: 0;

  .titleAndDate {
    display: flex;
    justify-content: space-between;
    h2 {
      max-width: 70%;
    }
    span {
      transform: translateY(10%);
    }
  }
}
.listContainer {
  padding: 20px 24px 20px;

  .participantslist {
    padding: 4px 0;
    gap: 8px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .user {
      border-radius: 14px;
      background-color: #f9f9f9;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      min-height: 50px;
      border-radius: 14px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #e0e0e0; // 밝은 회색으로 변경
      }

      button {
        cursor: pointer;
        border: none;
        background-color: #007aff;
        color: white;
        padding: 6px 12px;
        border-radius: 8px;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #006ee6;
        }
        &:active {
          background-color: #0062cc;
        }
      }
    }
  }
}
