.reviewItem {
  display: flex;
  justify-content: space-between;
  border: 1px solid #e0e0e0;
  width: 100%;
  min-height: 20%;
  overflow: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .thumbnail {
    position: relative;
    width: 30%;
    min-width: 30%;
    border-radius: 5px;
    overflow: hidden;
  }
  .content {
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px;

    p,
    h3 {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  h3 {
    margin: 0 0 12px 0;
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }

  p {
    margin: 6px 0;
    color: #666;
    font-size: 14px;
    line-height: 1.5;
  }
  //@haewon
  //modal close button custom 추후 수정필요
  button {
    position: absolute;
    padding: 3px 6px;
    color: #2f2f2f;
    border-radius: 100%;
    top: 8px;
    right: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    &:hover {
      border-radius: 100%;
      background-color: #959696;
      color: #fff;
    }
  }
}

.detailModal {
  .modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  max-width: 600px;
  width: 590px;
  height: 400px;
  padding: 35px 20px 20px 20px;
  background-color: white;
  overflow-y: auto;
  border-radius: 10px;

  overflow-x: hidden;
  word-wrap: break-word;
  word-break: break-word;

  h2 {
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }

  p {
    margin: 12px 0;
    color: #555;
    font-size: 14px;
    line-height: 1.6;
  }
}

.reviewList {
  margin-top: 20px;

  .reviewedUser {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-bottom: 20px;
    padding: 12px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    h4 {
      min-width: 12%;
      font-size: 16px;
      color: #444;
      font-weight: bold;
    }

    .tags {
      max-width: 65%;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      gap: 6px;
      align-items: flex-start;

      .tag {
        display: inline-block;
        background-color: #e0f7fa;
        color: #007bff;
        padding: 6px 10px;
        border-radius: 3px;
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
}

//320-600px mobile
@media screen and (max-width: 590px) {
  .detailModal {
    width: 100vw;
    height: calc(400px * 2 / 3); /* 400px의 2/3 */
    padding: 24px 15px 15px 15px;
  }
}
