.header {
  font-size: 20px;
}

.commonInput {
  border: 1px solid #000000;
}

.inputContainer .selectBox {
  width: 100px;
}

.buttonClicked {
  display: block;
  width: 16px;
  height: 16px;
  background-color: yellow;
}

.buttonNotClicked {
  display: block;
  width: 16px;
  height: 16px;
  background-color: black;
}
