.kakaoButton {
  display: flex;
  gap: 9px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.kakaoLogo {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  background-color: rgba(248, 224, 73, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
