.relative {
  padding: 100px 25px 200px;
}

.title {
  color: #000;
  font-family: LaundryGothicOTF;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
}

.myFavoriteGathering {
  display: flex;
  align-items: normal;
  justify-content: normal;
  margin-top: 40px;
  flex-wrap: wrap;
  gap: 20px;

  .myFavoriteGatheringItem {
    width: 30%;

    .thumbnail {
      position: relative;
      width: 100%;
      aspect-ratio: 173.2/224;

      .deadLine {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        width: 60%;
        gap: 8px;
        align-items: center;
        justify-content: center;
        padding: 6px 4px;
        border-radius: 0px 0px 0px 12px;
        background: #007aff;
        color: var(--white, #fff);
        font-size: 10px;
        font-weight: 500;
        line-height: 16px;
        flex-shrink: 0;
        overflow: hidden;
        white-space: nowrap;
      }

      .participant {
        display: flex;
        width: 34%;
        height: 23px;
        padding: 3px 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 18px;
        background: rgba(255, 255, 255, 0.8);
        position: absolute;
        right: 10%;
        bottom: 8%;
        font-size: 12px;
        font-weight: 500;
        line-height: normal;
      }
    }

    .mid {
      display: flex;
      align-items: center;
      padding: 8px 0;

      .mapPin {
        margin-right: 4px;
      }

      p {
        display: block;
        font-size: 14px;
        color: #999;
        text-overflow: ellipsis;
        line-clamp: 1;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        flex-grow: 1;
        overflow: hidden;
        padding: 0;
      }

      .heart {
        flex-shrink: 0;
      }
    }
    .title2 {
      display: block;
      font-size: 18px;
      text-overflow: ellipsis;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      overflow: hidden;
      font-weight: 700;
      line-height: 130%;
      height: 46.8px;
    }

    .date {
      margin-top: 10px;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 8px;

      p {
        padding: 2px 8px;
        width: auto;
        justify-content: center;
        display: flex;
        align-items: center;
        border-radius: 4px;
        background-color: #007aff;
        color: #ffffff;
        font-size: small;
        flex-shrink: 0;
      }
    }
  }
}

.skeleton {
  width: 30%;
  height: clamp(289px, 300px, 335px);
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    background-color: #ddd;
    opacity: 1;
  }
  50% {
    background-color: #e0e0e0;
    opacity: 0.5;
  }
  100% {
    background-color: #ddd;
    opacity: 1;
  }
}
