.relative {
  padding: 0 15px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-top: 25px;
}

.myFavoriteGathering {
  display: flex;
  align-items: normal;
  justify-content: normal;
  margin-top: 25px;
  flex-wrap: wrap;
  gap: 20px;

  .myFavoriteGatheringItem {
    width: 30%;
    margin-top: 25px;
    .img {
      img {
        display: block;
        width: 100%;
      }
    }
    .mid {
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        display: block;
        padding: 15px 0;
        font-size: 14px;
        color: #999;
      }
      button {
        img {
        }
      }
    }
    .title2 {
      display: block;
      font-size: 18px;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      overflow: hidden;
      font-weight: 700;
      line-height: 130%;
    }
    .date {
      font-size: 14px;
      color: #999;
      margin-top: 10px;
    }
  }
}
