.map {
  width: 600px;
  height: 500px;
}

.infowindow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 20px;
  text-align: center;
  font-family: 'LaundryGothicOTF';
  font-size: 14px;
}
