.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 23px;
}

.title {
  color: #000;
  text-align: center;
  font-family: LaundryGothicOTF;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
}

.description {
  color: var(--lukyviky-gray-Normal, #9ca3af);
  text-align: center;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 125% */
}

.gatheringsButton {
  width: 100%;
  height: 88px;
  border-radius: 10px;
  background: var(--lukyviky-Blue-Normal, #007AFF);
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 83.333% */
}

.newGatheringButton {
  width: 100%;
  height: 88px;
  border-radius: 10px;
  border: 1px solid var(--lukyviky-Blue-Normal, #007AFF);
  background: #FFF;
  color: var(--lukyviky-Blue-Normal, #007AFF);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 83.333% */
}
