.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.values {
  width: 100%;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;

  .value {
    flex-shrink: 0;
  }
}

.errorMessage {
  color: #dc2626;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
