.icon {
  border-radius: 100%;
  cursor: pointer;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &[data-size='xsmall'] {
    width: 16px;
    height: 16px;
  }

  &[data-size='small'] {
    width: 24px;
    height: 24px;
  }

  &[data-size='medium'] {
    width: 32px;
    height: 32px;
  }

  &[data-size='large'] {
    width: 64px;
    height: 64px;
  }
}
