.header {
  border-bottom: 1px solid #007aff;
  width: 100%;
  height: 54px;
  position: sticky;
  top: 0;
  padding-left: 16px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  z-index: 1;
}

.container {
  padding: 35px 25px 53px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 11px;

  button {
    margin-top: 16px;
  }
}

.linkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: #1f2937;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;

  .loginLink {
    color: #007aff;
    text-decoration-line: underline;
    text-underline-offset: 3px;
  }
}
