.container {
  padding: 20px 24px;
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 2px solid #f5f5f5;
  background-color: #fff;
  flex-shrink: 0;

  .backButton {
    width: 36px;
    height: 36px;
  }

  .gatheringInfo {
    display: flex;
    gap: 14px;
    align-items: center;
    flex-grow: 1;

    .thumbnail {
      position: relative;
      width: 60px;
      height: 60px;
      flex-shrink: 0;

      &:hover {
        opacity: 0.8;
      }
    }

    .texts {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .contents {
        .content {
          color: #1f2937;
          font-size: 18px;
          font-weight: 600;
          line-height: 28px;
          text-overflow: ellipsis;
          line-clamp: 1;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          overflow: hidden;
        }
      }

      .place {
        color: #374151;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-overflow: ellipsis;
        line-clamp: 1;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
        border-left: 3px solid #111827;
        padding: 0 7px;
      }
    }
  }
}

@media only screen and (max-width: 430px) {
  .container {
    padding: 10px 12px;

    .gatheringInfo {
      .texts {
        gap: 5px;
      }
    }
  }
}
