.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 41px 29px 29px 24px;
}

.title {
  color: var(--lukyviky-Blue-Normal, #007aff);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 13px;
}

.buttons {
  overflow-y: scroll;
  padding: 0 19px;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #007aff;
    border-radius: 6px;
    border: 2px solid #ffffff;
  }
}

.button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 30px 19px 75px;
  border-bottom: 1px solid var(--lukyviky-gray-light-active, #e0e2e6);
}
