.reviewItem {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f9f9f9;
  border-radius: 12px;
  padding: 0px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
