.logo {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .link {
    align-self: flex-start;

    .title {
      color: #007aff;
      font-size: 34px;
      font-weight: 700;
      line-height: normal;
    }
  }

  .subTitle {
    color: #37393d;
    font-family: LaundryGothicOTF;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.96px;
  }

  .text {
    color: #37393d;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.56px;
    word-break: keep-all;
  }
}

@media only screen and (max-width: 480px) {
  .logo {
    .link {
      .title {
        font-size: 30px;
      }
    }

    .subTitle {
      font-size: 20px;
    }
  }
}
