.item,
.mobileItem {
  width: 100%;
  padding: 14px 20px 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &:hover {
    background-color: #e6f2ff;
  }
}

.mobileItem {
  padding: 10px;
}

.mapItem {
  font-size: 12px !important;
  line-height: 12px !important;
}

.detailItem {
  padding: 0 0 0 24px;
}

.nameArea {
  display: flex;
  align-items: center;
  gap: 6px;

  .order {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: #3e82f1;
    width: 20px;
    height: 20px;
    color: #ffffff;
    font-weight: 700;
    font-size: 13px;
    flex-shrink: 0;
  }

  .name {
    color: black;
    font-size: 18px;
    font-weight: 700;

    &.url {
      &:hover {
        color: #3e82f1;
      }
    }

    @media screen and (max-width: 480px) {
      font-size: 16px;
    }
  }
}

.category {
  font-size: 14px;
  color: #9ca3af;
}

.infoArea {
  padding-left: 42px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  color: #9ca3af;

  &.notIndexInfo {
    padding-left: 0;
  }

  .distance {
    display: flex;
    align-items: center;
  }
}

.address {
  @media screen and (max-width: 480px) {
    font-size: 12px;
  }
}
