.list {
  width: 390px;
}

.items {
  width: 100%;
  background-color: #f9faf9;
  min-height: 300px;
  margin-top: 10px;
  border: 1px solid #b0b0b0;
  border-radius: 12px;
}

.itemButton {
  width: 100%;
  text-align: left;
}
