.container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .positive {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .negative {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
