.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(100%, 600px);
  padding: 0 24px;
}

.title {
  color: #000;
  text-align: center;
  font-family: LaundryGothicOTF;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 1.2px;
  margin: 0 0 8px;
  @media only screen and (max-width: 480px) {
    font-size: 20px;
  }
}

.description {
  color: var(--lukyviky-gray-Normal, #9ca3af);
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 125% */
  @media only screen and (max-width: 480px) {
    font-size: 16px;
  }
}

.gatheringsButton {
  width: 300px;
  height: 70px;
  border-radius: 10px;
  background: var(--lukyviky-Blue-Normal, #007aff);
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 83.333% */
  margin: 30px 0 0;
  @media only screen and (max-width: 480px) {
    font-size: 16px;
  }
}

.newGatheringButton {
  width: 300px;
  height: 70px;
  border-radius: 10px;
  border: 1px solid var(--lukyviky-Blue-Normal, #007aff);
  background: #fff;
  color: var(--lukyviky-Blue-Normal, #007aff);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 83.333% */
  margin: 16px 0 0;
  @media only screen and (max-width: 480px) {
    font-size: 16px;
  }
}
